<section class="locations__map__infobox">
  <div class="grid-x inverted">
    <div class="small-12 cell padding-1 text-center">
      <h6>{{ element.title }}</h6>
    </div>
  </div>
  
  <div class="grid-x align-center inverted">
    <div class="small-4 cell">
      <span onclick="smartMap.zoomOnMarker('{{ marker.mapId }}', '{{ marker.markerName }}', 15)"><img src="images/global/can.png" alt="Can"></span>
    </div>
  </div>
  
  <div class="grid-x inverted">
    <div class="small-12 cell padding-1 text-center">
      {{ element.address.street1 }}
      {{ element.address.city }}, {{ element.address.zip }}
    </div>
  </div>
</section>