{% extends "_layouts/site" %}

{% block main %}

<!-- Hero -->
<section class="home__hero">

  <div class="swiper-container carousel--hero">
    <div class="swiper-wrapper">
      {% for image in entry.heroImages %}
      <div class="swiper-slide small-12 cell text-center">
        <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">  
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="home__hero__text">
    <div class="grid-y grid-padding-x height-100 align-center">
      <div class="shrink cell white">

        <div class="grid-container">
          <div class="grid-x grid-padding-x">
              <div class="small-12 medium-8 cell secondary-font text-uppercase">
                {{entry.heroText}}
              </div>
              <div class="small-12 medium-4 cell">
                <div class="text-uppercase">{{entry.heroSubheader}}</div>
                <div class="margin-top-1"><a href="/redirection" class="h5 text-uppercase">Click for Beer <svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a></div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- End Hero -->

<!-- Campaign -->
{#
<div class="grid-x">
  <div class="small-12 cell">
  
    {% set image = entry.campaignImage.one() %}
    <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
      <div class="grid-y height-100 align-center">
        <div class="shrink cell text-center padding-2" id="video-gallery">
          <a href="https://www.youtube.com/watch?v=CciUPWG6Kp8" class="h1 white play_arrow"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
        </div>
      </div>
    </div>
  
  </div>
</div>
#}
<!-- End Campaign -->


<!-- Location -->
<section class="home__drink inverted padding-vertical-2" id="home__drink">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-8 cell">
        <h1 class="secondary-font margin-bottom-0 text-uppercase">Drink</h1>
      </div>
      <div class="small-12 medium-4 cell text-uppercase">

      <button class="h5 text-uppercase mapboxgl-ctrl-geolocate">Find Beer <svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></button>
      <div id='geocoder' class='geocoder'></div>

      </div>

    </div>  
  </div>
</section>

{% set entry = craft.entries
.section('locations')
.one() %}

<div id="map" style="width: 100%; height: 500px;"></div>

<script>
mapboxgl.accessToken = "{{ craft.maps.mapToken }}";

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-96, 37.8],
  zoom: 3
});
 
var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-77.032, 38.913]
    },
    properties: {
      title: 'Mapbox',
      description: 'Washington, D.C.'
    }
  },
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'Mapbox',
      description: 'San Francisco, California'
    }
  }]
};
 
// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
    .addTo(map);
});

map.addControl(new mapboxgl.NavigationControl(), 'top-left');
map.addControl(new mapboxgl.GeolocateControl ({positionOptions: {enableHighAccuracy: true},trackUserLocation: true}), 'top-left');

// disable map zoom when using scroll
map.scrollZoom.disable();

var geocoder = new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl
});
 
document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

</script>

<!-- Party Video -->
{% if entry.partyVideo | length %}
<section class="home__party-video">
    {% set video = entry.partyVideo.one() %}
    <video playsinline autoplay muted loop class="video" poster="">
      <source src="https://storage.googleapis.com/old-blue-last-beer/{{ video.filename }}" type="video/mp4">
    </video>
</section>
 {% endif %}
<!-- End Party Video -->

<!-- Party -->
<section class="home__party padding-vertical-3" id="home__party">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-8 cell">
      <h1 class="secondary-font margin-bottom-0 text-uppercase">Party</h1>
      {{entry.partyText}}
      </div>
    </div>
  </div>
</section>
<!-- End Party -->

{# Upcoming Events #}

{% set entries = craft.entries
.section('events')
.eventDate('>' ~ now.getTimestamp())
.orderBy('eventDate asc')
.all() %}

{% if entries|length %}
<section class="home__upcoming-events" id="home__events">

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell text-uppercase">
        <h1 class="secondary-font margin-bottom-0 text-uppercase">Upcoming Events</h1>
      </div>
    </div>
  </div>

  <ul class="vertical menu home__upcoming-events__list">
  
  {% for entry in entries %}
    <li>
  	  <a href="{{ entry.eventFacebookLink}}" class="padding-left-0 padding-top-2 padding-bottom-1" target="_blank">
  	  
  	    <div class="grid-container">
          <div class="grid-x grid-padding-x">
          
            <div class="small-12 medium-8 cell text-uppercase">
              <h6>{{ entry.eventDate | date('D j M') }}</h6>
              <h5>{{ entry.title}} @ {% if entry.eventVenue|length %}{{ entry.eventVenue }},{% endif %} {{ entry.eventLocation }}</h5>
            </div>
            
            <div class="small-12 medium-4 cell text-uppercase text-left medium-text-right align-self-bottom margin-bottom-1">
              <span class="underline">Event Page</span>
            </div>
          
          </div>
        </div>
  	  
  	  </a>
    </li>
  {% endfor %}
  </ul>
  
</section>
{% endif %}
{# End Upcoming Events #}

{# Photos #}
<section class="home__photos" id="home__photos">

    <div class="inverted">
        <div class="grid-container padding-vertical-2">
          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="small-12 cell text-uppercase">
              <h1 class="secondary-font margin-bottom-0 text-uppercase">Photos</h1>
              <div><a href="/photos" class="h5 text-uppercase">View All <svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a></div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="grid-x small-up-1 medium-up-3 large-up-3">
      
        {% set evententries = craft.entries
        .section('events')
        .eventFeatured('1')
        .eventDate('<' ~ now.getTimestamp())
        .orderBy('eventDate desc')
        .limit(9)
        .all() %}
        
        {% for entry in evententries %}
        <div class="cell">
            <a href="{{ entry.url}}" class="global__photos">   
                {% for image in entry.eventThumb.all() %}
                <div class="image--square" data-interchange="{% include "_includes/images/full/1-1/interchange-img-small-12-medium-4" %}">
                  <div class="grid-y height-100 align-center content">
                    <div class="shrink cell text-center padding-2">
                      <h4>{{ entry.title}}<br>@ {{ entry.eventVenue}}</h4>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </a>
        </div>
        {% endfor %}
        
    </div>
</section>

{# End Photos #}

<!-- The Beer -->
<section class="home__the-beer padding-vertical-3" id="home__the-beer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-8 cell">
      <h1 class="secondary-font margin-bottom-0 text-uppercase">The Beer</h1>
      {{entry.theBeerText}}
      </div>
    </div>
  </div>
</section>
<!-- End Party -->

<!-- Contact Form -->
<section class="home__the-beer padding-vertical-3" id="home__the-beer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-8 cell">
      <h1 class="secondary-font margin-bottom-0 text-uppercase">Contact</h1>
      {% include "_includes/blocks/form" %}
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form  -->


{% endblock %}