{% extends "_layouts/base" %}

{% block body %}

<!-- Age Gate -->
{% include "_includes/blocks/age-gate-simple" %}
<!-- End Age Gate -->

<div class="swup-transition-fade testing testing--hide" id="swup-body">
<!-- Navigation Desktop -->
{% include "_includes/global/navigation" %}
<!-- End Navigation Desktop -->

<!-- Social Links -->
{% include "_includes/blocks/links" %}
<!-- End Social Links -->
      
<main class="align-self-center" id="main" role="main">
{% block main %}{% endblock %}
</main>

<!-- Footer -->
<footer class="footer">
<!-- Newsletter -->
{% include "_includes/blocks/newsletter" %}
<!-- End Newsletter -->

<!-- Copyright -->
{% include "_includes/blocks/copyright" %}
<!-- End Copyright -->
</footer>
<!-- End Footer -->


</div>

{% js %}
var geojson = {
  type: 'FeatureCollection',
  features: 
  [
  {% set locations = craft.entries.section('locations').all() %}
  {% for entry in locations %}
  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [{{ entry.location.lng }}, {{ entry.location.lat }}]
    },
    properties: {
      title: '{{entry.title }}',
      description: '{{ entry.location.parts.number }} {{ entry.location.parts.address }}'
    }
  },
  {% endfor %}
  ]
};
{% endjs %}


{% endblock %}