{% extends "_layouts/site" %}

{% block main %}

{% if entry.eventFeatured %}

<div class="grid-container">
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <h5>{{ entry.eventDate | date('D j M') }}</h5>
      <h3>{{entry.title}} @ {{entry.eventVenue}}, {{entry.eventLocation}}</h3>
    </div>
  </div>
</div>
  
<div class="grid-x small-up-2 medium-up-3 large-up-4 margin-bottom-2" id="gallery">
  {% for image in entry.eventPhotos.all() %}
  <div class="cell">
<a href="{{craft.imager.transformImage(image, { width: (craft.app.config.general.breakpoints.large / 1), dpr: 1, position: image.getFocalPoint() }).url}}"
   data-fancybox="gallery"
   data-type="image"

   data-srcset="{{craft.imager.transformImage(image, { width: (craft.app.config.general.breakpoints.small / 1), dpr: 1, position: image.getFocalPoint() }).url}} {{(craft.app.config.general.breakpoints.small)}}w,
                {{craft.imager.transformImage(image, { width: (craft.app.config.general.breakpoints.medium / 1), dpr: 2, position: image.getFocalPoint() }).url}} {{(craft.app.config.general.breakpoints.medium)}}w,
                {{craft.imager.transformImage(image, { width: (craft.app.config.general.breakpoints.large / 1), dpr: 2, position: image.getFocalPoint() }).url}} {{(craft.app.config.general.breakpoints.large)}}w"
>
{#   <a href="{{craft.imager.transformImage(image, { width: (craft.app.config.general.breakpoints.large / 1), dpr: 2, ratio: 7/5, position: image.getFocalPoint() }).url}}" data-fancybox="gallery"> #}
    <div class="image--square global__photos item" data-interchange="{% include "_includes/images/full/1-1/interchange-img-small-12-medium-4" %}">
      <div class="grid-y height-100 align-center content">
      </div>
    </div>
  </a>
  </div>
  {% endfor %}
</div>

{% endif %}
{% endblock %}        