{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x">
  <div class="small-12 cell featured">
    
  <div class="grid-x featured__title align-middle">
    <div class="small-12 cell text-center">
      <h2>#canchester</h2>
      <div id="video-gallery">
      <a href="https://vimeo.com/263503407"><h5 class="text-uppercase">Play Video</h5></a>
      </div>
    </div>
  </div>
  
    
  <div class="featured__image responsive-embed panorama">
    <video playsinline autoplay muted loop>
      {% for asset in entry.featuredVideo %}
      <source src="{{ asset.getUrl() }}" type="video/mp4">
      {% endfor %}
    </video>  
  </div>
  
  </div>
</div>

<div class="grid-container canchester__hero__text">
  <div class="grid-x align-center">
    <div class="small-12 medium-10 cell text-center">
      <h5>{{entry.pageIntro}}</h5>
    </div>
  </div>
</div>
          
{% set entries = craft.entries
.section('events')
.eventLocation('Manchester')
.order('eventDate asc')
.all() %}

<div class="grid-container">
{% for entry in entries %}
<div class="grid-x margin-bottom-3">
<div class="small-12 cell featured">

    
    <div class="grid-x featured__title align-middle show-for-medium">
      <div class="small-12 cell text-center">
        <h2 class="text-uppercase">{% if entry.eventExcerpt|length %}{{ entry.eventExcerpt}}{% else %}{{ entry.title}}{% endif %}</h2>
      </div>
    </div>
    
    <div class="grid-x featured__title align-bottom text-uppercase">
    <div class="small-12 cell">
      
      <div class="grid-x hide-for-medium">
        <div class="small-12 cell">
          <h4 class="text-uppercase">{% if entry.eventExcerpt|length %}{{ entry.eventExcerpt}}{% else %}{{ entry.title}}{% endif %}</h4>
        </div>
      </div>
      
      <div class="grid-x">
      
        <div class="small-6 medium-6 cell">
      
          <div class="padding-right-2">
            <h6>{{ entry.eventDate | date('D j M') }}</h6>
          </div>
          
          <div>
            <h6>{% if entry.eventVenue|length %}@{{ entry.eventVenue }}{% endif %}</h6>
          </div>
      
        </div>
        
        <div class="small-6 medium-6 cell text-right">
        
            {% if entry.eventTicketLink|length %}
            <h6><a href="{{ entry.eventTicketLink}}" class="underline" target="_blank">Tickets</a></h6>
            {% endif %}
          
            <h6><a href="{{ entry.eventFacebookLink}}" class="underline" target="_blank">Event Page</a></h6>
        </div>
    
      </div>
      

    </div>
    </div>
    
    <div class="featured__image">
      {% for asset in entry.eventFeatureImage %}
      <img src="{{ asset.getUrl('xxlarge') }}">
      {% endfor %}
    </div>
  
</div>
</div>
{% endfor %}
</div>

{% endblock %}