<div class="grid-x align-justify align-middle navigation padding-horizontal-2 padding-top-2">

  <div class="shrink medium-3 cell">
    <a href="{{ siteUrl }}" aria-label="Old Blue Last Beer"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

  <div class="shrink medium-6 cell">
  <ul class="dropdown menu align-center" data-dropdown-menu>
          {% set page = craft.app.request.getSegment(2) %}
  
          {% if craft.commerce.plans.getAllPlans|length %}
              <li>
                  <a class="{% if page == 'services' %}active{% endif %}" href="{{ url('merch/services') }}">
                      {{ "Services"|t }}
                  </a>
              </li>
          {% endif %}
  
          <li>
              <a class="{% if page == 'products' %}active{% endif %}" href="{{ url('merch/products') }}">
                  {{ "Products"|t }}
              </a>
          </li>
  
          <li>
              <a class="{% if page == 'cart' %}active{% endif %}" href="{{ url('merch/cart') }}">
                  <i class="fa fa-shopping-cart"></i> {{ "Cart"|t }} <span class="badge">{{ craft.orders.number(cart.number).one().totalQty ?? 0}}</span>
              </a>
          </li>
  
          {% if currentUser %}
              <li>
                  <a href="#">Account</a>
                  <ul class="menu">
                      <li><a href="{{ url('shop/customer') }}">{{ "My Orders"|t }}</a></li>
                      <li><a href="{{ url('shop/customer/addresses') }}">{{ "My Addresses"|t }}</a></li>
                      <li><a href="{{ url('shop/customer/cards') }}">{{ "My Cards"|t }}</a></li>
                      <li><a href="{{ logoutUrl }}">Logout</a></li>
                  </ul>
              </li>
          {% else %}
              <li>{{ "Guest"|t }}</li>
          {% endif %}
      </ul>
  </div>

  <div class="shrink medium-3 cell text-right">
    <a href="https://www.vice.com" aria-label="Drinking by VICE" target="_blank" rel="noopener"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></a>
  </div>

</div>
