{% extends "_layouts/site" %}

{% block main %}

<!-- Campaign -->
<div class="grid-x">
  <div class="small-12 cell">
  
    {% set image = entry.campaignImage.first() %}
    <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}">
      <div class="grid-y height-100 align-center">
        <div class="shrink cell padding-2">

          <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 medium-10 cell" id="video-gallery">
              <h1 class="text-uppercase">First Round on Us</h1>
              
              <a href="https://www.youtube.com/watch?v=CciUPWG6Kp8" class="h1 white play_arrow"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
              
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div>
<!-- End Campaign -->

<!-- First Round -->
<section class="home__first-round padding-vertical-3" id="home__first-round">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 cell">
      {{entry.firstRoundText}}
      </div>
    </div>
  </div>
</section>
<!-- End First Round -->

<ul class="vertical menu home__upcoming-events__list padding-bottom-3">
          
{% for block in entry.firstRoundDirectory.all() %}
{% if block.type == "location" %}
  <li>
	  <a href="" class="padding-left-0 padding-top-1" target="_blank">
	  
	    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-8 cell">

      {% set venue = block.location.one() %}
      {% if venue %}
          <h3 class="text-uppercase">{{ venue.address.city }}</h3>
          <h5 class="text-uppercase">{{ venue.title }}</h5>
          <h5>{{ venue.address.street1 }}, {{ venue.address.zip }}</h5>
      {% endif %}

      

      </div>
      
      <div class="small-12 medium-4 cell text-uppercase medium-text-right align-self-bottom margin-bottom-1">
      <span class="underline">Sign Up</span>
      </div>
      
      </div>
      </div>
	  
	  </a>
  </li>
{% endif %}
 {% endfor %}
</ul>

{# End Upcoming Events #}

{% endblock %}