{% extends "_layouts/site" %}

{% block main %}

<!-- Campaign -->
<div class="grid-x">
  <div class="small-12 cell">
  
    {% set image = entry.campaignImage.first() %}
    <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}">
      <div class="grid-y height-100 align-center">
        <div class="shrink cell padding-2">

          <div class="grid-container">
            <div class="grid-x">
              <div class="small-12 medium-10 cell" id="video-gallery">
              <h1 class="text-uppercase">First Round on Us</h1>
              
              <a href="https://www.youtube.com/watch?v=40uSb4prCek" class="h1 white play_arrow"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
              
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </div>
</div>
<!-- End Campaign -->

<!-- First Round -->
<section class="home__first-round padding-vertical-3" id="home__first-round">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 cell">
      {{entry.firstRoundText}}
      </div>
    </div>
  </div>
</section>
<!-- End First Round -->

<ul class="vertical menu home__upcoming-events__list padding-bottom-3">
          
{% for block in entry.firstRoundDirectory.all() %}
  {% set venue = block.location.one() %}
  <li>
	  <a data-open="{{ venue.title |kebab }}" class="padding-left-0 padding-top-1">
	  
	    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-8 cell">
        <h3 class="text-uppercase">{{ venue.address.city }}</h3>
        <h5 class="text-uppercase">{{ venue.title }}</h5>
        <h5>{{ venue.address.street1 }}, {{ venue.address.zip }}</h5>
      </div>
      
      <div class="small-12 medium-4 cell text-uppercase medium-text-right align-self-bottom margin-bottom-1">
      <span class="underline">Sign Up</span>
      </div>
      
      </div>
      </div>
	  
	  </a>
  </li>
{% endfor %}
</ul>

{% for block in entry.firstRoundDirectory.all() %}
  {% set venue = block.location.one() %}
  <div class="reveal" id="{{ venue.title |kebab }}" data-reveal>

  <button class="close-button" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

        <h4 class="text-uppercase">{{ venue.title }}</h4>
        <h5>{{ venue.address.street1 }}, {{ venue.address.city }} {{ venue.address.zip }}</h5>
        {{entry.firstRoundRevealText}}


        <form action="{{block.mailchimp}}" method="post" target="_blank" data-abide novalidate>

        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>
    
        <input type="email" value="" name="EMAIL" class="required" placeholder="your@email.com" aria-errormessage="emailError" required pattern="email"> 

        <span class="form-error" id="emailError">
          Yo, you had better fill this out, it's required. We need a valid email address
        </span>

        <input type="text" value="" name="FNAME" placeholder="First Name" aria-errormessage="fnameError" required pattern="alpha">

        <span class="form-error" id="fnameError">
          Yo, you had better fill this out, it's required.
        </span>

        <input type="text" value="" name="LNAME" placeholder="Last Name" aria-errormessage="lnameError" required pattern="alpha">


        <span class="form-error" id="lnameError">
          Yo, you had better fill this out, it's required.
        </span>

        <input type="submit" class="button expanded" value="Sign Up" name="subscribe">
    
        </form>
</div>
{% endfor %}

{% endblock %}