{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-uppercase">
      <h1 id="photos-word">Event</h1>
      <h1>Photos</h1>
    </div>
  </div>
</div>
    
<div class="grid-x small-up-1 medium-up-3">
      
        {% set evententries = craft.entries
        .section('events')
        .eventFeatured('1')
        .eventDate('<' ~ now.getTimestamp())
        .order('eventDate desc')
        .all() %}
        
        {% for entry in evententries %}
        <div class="cell">
          <div class="excerpt">
            <a href="{{ entry.url}}">
              
              <div class="grid-x excerpt__title align-middle">
                <div class="small-12 cell text-center padding-3">
                  <h5>{{ entry.title}} @ {{ entry.eventVenue}}</h5>
                </div>
              </div>
              
              <div class="excerpt__image">
                {% for asset in entry.eventThumb %}
                <img src="{{ asset.getUrl('thumb') }}" width="{{ asset.getWidth('thumb') }}" height="{{ asset.getHeight('thumb') }}">
                {% endfor %}
              </div>
            
            </a>
          </div>
        </div>
        {% endfor %}
        
</div>
    
{% endblock %}