{% extends "_layouts/site" %}

{% block main %}

{% if entry.eventFeatured %}

<div class="grid-container">

  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <h5>{{ entry.eventDate | date('D j M') }}</h5>
      <h4>{{entry.title}} @ {{entry.eventVenue}}, {{entry.eventLocation}}</h4>
    </div>
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-3 large-up-4 margin-bottom-2" id="gallery">
    {% for asset in entry.eventPhotos %}
    <div class="cell about__images" data-src="{{ asset.getUrl('gallery') }}">
      <a href="{{ asset.getUrl('gallery') }}"><img src="{{ asset.getUrl('thumb') }}" width="{{ asset.getWidth('thumb') }}" height="{{ asset.getHeight('thumb') }}" class="excerpt__image"></a>
    </div>
    {% endfor %}
  </div>

</div>

{% else %}

<div class="grid-container">

  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <h5>{{ entry.eventDate | date('D j M') }}</h5>
      <h4>{{entry.title}} @ {{entry.eventVenue}}, {{entry.eventLocation}}</h4>
    </div>
  </div>
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
    {% for asset in entry.eventFeatureImage %}
    <img src="{{ asset.getUrl('xxlarge') }}">
    {% endfor %}
    </div>
  </div>

  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <div id="eventbrite-widget-container-60048717330"></div>

      <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
      <script type="text/javascript">
          var exampleCallback = function() {
              console.log('Order complete!');
          };
      
          window.EBWidgets.createWidget({
              // Required
              widgetType: 'checkout',
              eventId: '60048717330',
              iframeContainerId: 'eventbrite-widget-container-60048717330',
      
              // Optional
              iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
              onOrderComplete: exampleCallback  // Method called when an order has successfully completed
          });
      </script>
    </div>
  </div>



</div>

{% endif %}

{% endblock %}





                